<% include ../partials/navbar %>
    <div class="container">
        <br>
        <div class="jumbotron">
            <img src="/images/3puttMaestro.png" alt="">
            <p>It's okay to be BAD at Golf!! Love the game with a passion! </p>
            <a class="btn btn-primary btn-lg" href='/golfcourses/new'>Add Golf Course</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% golfcourses.forEach(place => { %>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 imgWrapper">
                    <div class="img-thumbnail" style="padding: 0">
                        <div class='imgDiv'>
                            <img class='courseImg' src="<%= place.image %>" alt="">
                        </div>
                        <div class='caption courseDiv'>
                            <%= place.name %>
                        </div>
                        <a href="/golfcourses/<%= place._id %>" class="btn btn-sm btn-primary moreInfo">More Info</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <% include ../partials/footer %>