<% include ../partials/navbar %>

    <h1>SIGN IN HERE!!</h1>
    <form action="/signin" method="post">
        <div class="form-group">
            <input type="text" name='username' placeholder="user name">
        </div>
        <div class="form-group">
            <input type="password" name='password' placeholder="password">
        </div>
        <div class="form-group">
            <button class='btn btn-md btn-default' type="submit">SIGN IN</button>
        </div>
    </form>

    <% include ../partials/footer %>