body{
    margin: 0px;
    text-align: center;
    height: 100%
}

.headerText{
    font-family: 'Lobster', cursive;
}

.imgDiv{
    width: 100%; 
    height: 150px;
}

textarea{
    text-align: left;
}

.courseImg{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

li.golfCourseList{
    list-style: none;
    display: inline-block;
}

.courseDiv{
    margin: 5px auto;
}

.formWrapper{
    width: 33.3%;
    margin: 25px auto;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
}

.detailsWrapper{
    margin: 50px auto;
}

.addCommentButton{
    margin-bottom: 15px;
}

.deleteForm{
    display: inline;
}


.commentWrapper{
    border: 1px solid rgb(224, 77, 77);
    max-width: 90%;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.imgWrapper{
    margin: 20px 0px;
}

.moreInfo{
    margin-bottom: 15px;
}

#map{
    height: 400px;
    width: 100%
}

.smallText{
    font-weight: normal;
    font-size: 20px;
}